{% block subject %}
Please verify your digits
{% endblock %}

{% block text_body %}
Your Login Digits: {{ digits }}

This digits can be used to login to your account. We never ask it for anything else. Do not give it to anyone.

If you didn't request this digits by trying to login on another device, simply ignore this message.
{% endblock %}

{% block html_body %}
<b>Your Login Digits: {{ digits }}</b>

<p>This digits can be used to login to your account. We never ask it for anything else. Do not give it to anyone.</p>

<p>If you didn't request this digits by trying to login on another device, simply ignore this message.</p>
{% endblock %}
